body{
    margin: 0;
    padding: 0;
}

.conteiner{
    display: flex;
    background: #59625c;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.hijo{
    background: rgb(50, 50, 116);
    height: 130px;
    width: 200px;
    border-radius: 15px;
}
h1,p{
    color: white;
    justify-content: center;
}
